.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 55%;
}

.arrow {
  height: 30px;
  width: 30px;
  padding: 20px;
  margin: 50px;
  box-shadow: -3.5px 3.5px 0 black;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#left-arrow {
  transform: rotate(45deg);
}

#left-arrow:hover {
  transform: rotate(45deg) scale(1.5);
}

#right-arrow {
  transform: rotate(-135deg);
}

#right-arrow:hover {
  transform: rotate(-135deg) scale(1.5);
}

.img-carousel {
  height: 450px;
  width: 100%;
  border: solid 0.5px #000000;
}
