#h1-github {
  margin-top: 30px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  background-color: #97cdcfc4;
  padding: 25px;
  margin-bottom: 30px;
}

.search-container form {
  width: 100%;
}

.search-container form input {
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

.search-container form button {
  width: 30%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  border: none;
  border-radius: 5px;
  background-color: #b4eff2;
  padding: 10px;
  box-shadow: #00000059 0px 5px 15px;
  cursor: pointer;
}

.results h2 {
  margin: 30px 0 0 0;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.img-github {
  width: 45%;
  margin-bottom: 10px;
}

.user a {
  font-size: larger;
}

@media only screen and (max-width: 700px) {
  .search-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150%;
    gap: 10px;
  }

  .search-container form input {
    margin-left: 0;
  }

  .search-container form button {
    overflow: hidden;
  }
}
