#root {
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-arrow,
#right-arrow {
  height: 30px;
  width: 30px;
  margin: 50px;
  box-shadow: -3.5px 3.5px 0 black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#left-arrow {
  transform: rotate(45deg);
}

#right-arrow {
  transform: rotate(-135deg);
}

#left-arrow:hover {
  transform: rotate(45deg) scale(1.5);
}

#right-arrow:hover {
  transform: rotate(-135deg) scale(1.5);
}

img {
  height: 450px;
  width: 550px;
  border: solid 0.5px #000000;
}
