.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  background-color: #97cdcfc4;
  padding: 25px;
}

.list-container h2 {
  margin-top: 0;
}

.list-container form {
  width: 100%;
}

.list-container form input {
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

.list-container button {
  width: 30%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  border: none;
  border-radius: 5px;
  background-color: #b4eff2;
  padding: 10px;
  box-shadow: #00000059 0px 5px 15px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 50px;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.list-item:first-child {
  margin-top: 20px;
}

.list-item p {
  width: 100%;
  font-size: large;
  text-align: left;
  margin: 5px;
  cursor: pointer;
}

.list-item button {
  width: 100%;
  text-align: right;
  color: red;
  background-color: transparent;
  padding: 0;
  margin: 5px;
  box-shadow: none;
}

.list-item button:hover {
  text-shadow: 2px 2px 2px #ffffff;
}

#purchased {
  text-decoration: line-through;
}

@media only screen and (max-width: 630px) {
  .list-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150%;
    gap: 10px;
  }

  .list-container form input {
    margin-left: 0;
  }

  .list-container form button {
    overflow: hidden;
  }
}
